@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

/* SweetAlert Blue Success Icon */
.swal2-success {
  color: #3bcaf6 !important;
  border-color: #3bcaf6 !important;
}
.swal2-success [class^=swal2-success-line] {
  background-color: #3bcaf6 !important;
}
.swal2-success .swal2-success-ring {
  border-color: rgba(59, 178, 246, 0.3) !important;
}